body {
     line-height: 1.5rem;
     font-family: "Poppins", sans-serif;
}
* {
     box-sizing: border-box;
}
.btn {
     border-radius: unset !important;
     background-color: #212529;
     color: #e9f1ff;
     padding: 0.8rem 1.5rem;
     font-size: calc(0.8rem + 0.2vw);
     font-weight: 700;
     transition-duration: 500ms;
}
.btn:hover {
     box-shadow: rgb(11 94 215 / 42%) 0px 10px 15px -3px;
}
svg,
.bx,
.scroll-down {
     cursor: pointer;
}
.services svg {
     cursor: unset;
}
/* home */
.home {
     position: relative;
}
#particles-js {
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: #2c2e43;
     background-image: url("");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
}
.home-text,
.home-scroll {
     z-index: 2;
     color: #fff;
}

.who {
     background: #e9f1ff;
}

.wobble-image {
     box-shadow: rgba(0, 0, 0, 0.679) 0px 10px 15px;
     transform: translateZ(0) scale(0.9);
     -webkit-animation: spin 8s ease-in-out infinite;
     animation: spin 8s ease-in-out infinite;
     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     -webkit-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
     z-index: 5;
}

@keyframes spin {
     0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(
               45deg,
               var(--primary) 0%,
               var(--secondary) 100%
          );
     }
     50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
          background: linear-gradient(
               45deg,
               var(--third) 0%,
               var(--secondary) 100%
          );
     }
     100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(
               45deg,
               var(--primary) 0%,
               var(--secondary) 100%
          );
     }
}

.home-header-name {
     font-weight: 900;
     font-size: calc(4rem + 0.2vw);
}

.scroll-down {
     width: 30px;
     height: 50px;
     border-radius: 20px;
     position: relative;
     display: inline-block;
     border: 2px solid #fff;
}

.scroll-down .wheel {
     position: absolute;
     width: 6px;
     height: 6px;
     border-radius: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     left: 50%;
     top: 4px;
     -webkit-animation: scroll 1s linear 0.5s infinite backwards;
     animation: scroll 1s linear 0.5s infinite backwards;
     background-color: #fff;
}

@keyframes scroll {
     0% {
          top: 4px;
          opacity: 1;
     }

     100% {
          top: 21px;
          opacity: 0;
     }
}

/* about */
.bxl-linkedin {
     transition: color ease-in-out;
     transition-duration: 500ms;
     color: #212529;
}
.bxl-linkedin:hover {
     color: #0b5ed7;
}
.skills svg {
     width: 60px !important;
     height: 60px !important;
     transition-duration: 500ms;
}

.skills svg:hover:nth-child(1) {
     fill: #ce0909 !important;
}

.skills svg:hover:nth-child(2) {
     fill: #a101ff !important;
}
.skills svg:hover:nth-child(3) {
     fill: #264de4 !important;
}
.skills svg:hover:nth-child(4) {
     fill: #f0db4f !important;
}
.skills svg:hover:nth-child(5) {
     fill: #61dbfb !important;
}
.skills svg:hover:nth-child(6) {
     fill: #3c873a !important;
}
.skills svg:hover:nth-child(7) {
     fill: #4db33d !important;
}
/* services */
.services {
     background-color: #2c2e43;
     color: #fff;
}
.services svg {
     width: 50px !important;
     height: 50px !important;
     fill: #fff !important;
}
.services .row > div:not(:last-child) {
     display: flex;
     flex-flow: column;
     justify-content: center;
     height: 150px;
     margin-bottom: 2rem;
     border-right: 1px solid;
     border-image: linear-gradient(rgba(0, 0, 0, 0), #0b5ed7, rgba(0, 0, 0, 0))
          15 100% / 2 / 0;
}

/* portfolio */

#myBtnContainer {
     text-align: center;
}
#myBtnContainer .btn {
     border: unset;
}
.card {
     position: relative;
     border: unset;
     border-radius: unset;
     background-color: #2c2e43;
     color: #e9f1ff;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
     transition: 0.6s ease;
}
.card .img {
     border-radius: unset;
     object-fit: cover;
}

.overlay {
     position: absolute;
     bottom: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.8);
     color: #f1f1f1;
     width: 100%;
     height: 100%;
     transition: 0.5s ease;
     opacity: 0;
     color: white;
     font-size: 20px;
     padding: 20px;
     text-align: center;
}
.card:hover {
     box-shadow: rgba(0, 0, 0, 0.679) 0px 10px 15px;
}
.card:hover .overlay {
     opacity: 1;
}
.overlay-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.show_works {
     display: none;
}

.show {
     display: block;
}

.test {
     position: sticky;
}

/* media query */
@media (max-width: 767px) {
     .home-header-name {
          font-size: calc(2.5rem + 0.2vw);
     }
     .services .row > div:not(:last-child) {
          border: unset;
          margin-bottom: unset;
     }
     .services .row > div:nth-child() {
          margin-top: 2rem;
     }
}

@media (min-width: 767px) and (max-width: 930px) {
     .home-header-name {
          font-size: calc(3rem + 0.2vw);
     }
}
